.container_wrap {}

.inner {}

.header {}

.contents {

}

.dnd_container {
    width: calc(100% - 300px);
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
    font-size:0;
}

.dnd_input {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.box_wrap {
    padding-top: 30px;
    height: auto !important;
    text-align: center;
}